<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <script src="/javascripts/header.js" defer></script>
  </head>
  <body>
    <main>
      <header class="header">
        <div class="filler"></div>
        <h3 class="title">QR Test</h3>
        <div class="menu">
          <div class="menuline"></div>
          <div class="menuline"></div>
          <div class="menuline"></div>
        </div>
      </header>
      <ul id="list" class="visible">
        <li class="item domov">Domov</li>
        <li class="item seznamvseh">Seznam vseh oseb</li>
        <li class="item prijavaosebe">Prijava nove osebe</li>
        <li class="item resetstatus">Resetiraj statuse</li>
      </ul>
    </main>
  </body>
</html>
