<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <script src="/javascripts/header.js" defer></script>
  </head>
  <body>
    <main>
      <header class="header">
        <div class="filler"></div>
        <h3 class="title">UOIM</h3>
        <div class="menu">
          <div class="menuline"></div>
          <div class="menuline"></div>
          <div class="menuline"></div>
        </div>
      </header>
      <ul id="list" class="visible">
        <li class="item domov">Domov</li>
        <li class="item seznamvseh">Seznam oseb</li>
        <li class="item prijavaosebe">Dodaj osebo</li>
        <li class="item prehrana-header">Prehrana</li>
        <li class="item oskrba-header">Materialna oskrba</li>
        <li class="item qrskener-header">QR Skener</li>
        <li class="item logout-header">Izpis</li>
      </ul>
    </main>
  </body>
</html>
