<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/stylesheets/style.css" rel="stylesheet" />
 <link href="/stylesheets/landing.css" rel="stylesheet" />
 <link href="https://css.gg/css" rel="stylesheet" />
 <script src="https://kit.fontawesome.com/d3efbf50bc.js" crossorigin="anonymous"></script>

 <title>Document</title>
</head>
<body>
  <% if (username.permissions === "admin") { %>
    <%- include('./partials/header.ejs') %>
  <% } else { %>
    <%- include('./partials/header-kuhinja.ejs') %>
  <% } %>
  <br />
  <br />
  <% if (username.permissions === "admin") { %>
 <div class="mainContainer">
   <h2>Uporabnik: <%=username.username%></h2>
   <br />
   <br />
  <div class="cardContainer">
    
  <div class="card prehrana">
   <i class="fas fa-spoon"></i>
   <div class="cardtitle">Prehrana</div>
   </div>
    
    <div class="card">
     <i class="fas fa-box-open"></i>
     <div class="cardtitle">Materialna oskrba</div>
   </div>

   <div class="card personlist">
    <i class="fas fa-users"></i>
    <div class="cardtitle">Seznam oseb</div> 
  </div>

  <div class="card newperson">
    <i class="fas fa-plus"></i>
    <div class="cardtitle">Dodaj osebo</div> 
  </div>

  <div class="card qrcamera">
   <i class="fas fa-qrcode"></i>
   <div class="cardtitle">QR Skener</div>
 </div>
    
 <div class="card admin">
  <i class="fas fa-key"></i>
  <div class="cardtitle">Admin</div>
</div>

    <div class="card logout">
  <i class="fas fa-arrow-right-from-bracket"></i>
  <div class="cardtitle">Izpis</div>
</div>
  </div>
   <script>
    document.querySelector(".prehrana").addEventListener("click", () => {
      location.href = "/prehrana";
    })
    document.querySelector(".personlist").addEventListener("click", () => {
      location.href = "/personlist";
    })
    document.querySelector(".newperson").addEventListener("click", () => {
      location.href = "/newperson";
    })
    document.querySelector(".qrcamera").addEventListener("click", () => {
      location.href = "/qrcamera";
    })
    document.querySelector(".logout").addEventListener("click", () => {
      location.href = "/logout";
    })
    document.querySelector(".admin").addEventListener("click", () => {
      location.href = "/admin";
    })
  </script>
</div>
   <% } %>
     <% if (username.permissions === "kuhinja") { %>
 <div class="mainContainer">
   <h2>Uporabnik: <%=username.permissions%></h2>
   <br />
   <br />
  <div class="cardContainer">
    
  <div class="card prehrana">
   <i class="fas fa-spoon"></i>
   <div class="cardtitle">Prehrana</div>
   </div>

  <div class="card logout">
    <i class="fas fa-arrow-right-from-bracket"></i>
    <div class="cardtitle">Izpis</div>
  </div>

  </div>
   <script>
    document.querySelector(".prehrana").addEventListener("click", () => {
      location.href = "/prehrana";
    })
    document.querySelector(".logout").addEventListener("click", () => {
      location.href = "/logout";
    })
  </script>
</div>
   <% } %>
  
</body>
</html>