<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Test - Seznam oseb</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/personlist.css' />
    <link rel='stylesheet' href='/stylesheets/buttons.css' />
    <link rel="stylesheet" href="/stylesheets/allmealhistory.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="mainContainer-second">
      <br />
      <h2>Pregled izdanih malic - <%=user.firstname + " " + user.lastname%></h2>
      <br />
      <h3>test</h3>
      <h3>Podstran v izdelavi</h3>
      <h3>Skupno število malic</h3>
      <div class="monthContainer">
        <p><%=numOfMeals%></p>
      </div>
      <br />
      <h3>Vse prevzete malice</h3>
      <% meals.forEach((meal) => { %>
      <div class="monthContainer">
          <p><%=meal%></p>
      </div>
      <% }) %>
      <br />
      <button class="moreButton back">Nazaj</button>
    </div>
    <script>
      document.querySelector(".back").addEventListener("click", () => {
        location.href = "/";
      });
    </script>
  </body>
</html>
