<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Test - Seznam oseb</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/personlist.css' />
    <link rel='stylesheet' href='/stylesheets/buttons.css' />
    <link rel='stylesheet' href='/stylesheets/newperson.css' />
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d3efbf50bc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="personlistMainContainer">
      <br />
      <h1>Seznam oseb</h1>
      <br />
      <p>Seznam vseh oseb vnešenih v aplikacijo.</p>
      <br />
      <div class="searchContainer">
        <form method="post" action="/personlist/search" id="searchinput">
          <input type="text" name="searchinput"/>
          <div class="searchicon" id="searchicon">
            <button class="moreButton" type="submit">Išči</button>
          </div>
        </form>
      </div>
      <div class="usersContainer">
      <% users.forEach(user => { %>
        <div class="userContainer">
          <div class="textContainer1">
            <h3 class="username userFirstname"><%= user.firstname + " " + user.lastname %> </h3>
          </div>
          <div class="textContainer2">
            <form method="get" action="/personlist/getpersoncard/<%=user.id%>">
              <button type="submit" class="moreButton" style="margin-right: 10px">Kartica</button>
            </form>

            <form method="get" action="/personlist/getqrcode/<%=user.id%>">
              <button type="submit" class="moreButton">Več</button>
            </form>
          </div>
        </div>
        <br />
      <% }) %>
      </div>
        <button class="moreButton back">Nazaj</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      document.querySelector(".back").addEventListener("click", () => {
        location.href = "/";
      });
      document.querySelector(".searchicon").addEventListener("click", () => {
        location.href = "/personlist/search";
      });
    </script>
  </body>
</html>
