body {
  margin: 0;
  padding: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.mainContainer-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

p {
  text-align: center;
}

a {
  color: #00B7FF;
}
